<footer style="color: #dadada; background-color: rgb(0,0,95); height: 10em;">
  <a href="#" style="text-decoration: none;" class="float-end text-success"><svg xmlns="http://www.w3.org/2000/svg"
          width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16"
          style="margin: 0.5em;">
          <path
              d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
      </svg>
  </a>
  <p class="h3" style="margin-left: 0.5em;">myCollegeSpace.co.in</p>
  <p style="margin-left: 1em;">
      Gautam Buddha University <br>
      Greater Noida, Uttar Pradesh <br>
      Contact Us: 8860542694
  </p>
  <p class="text-center">© 2020-2021 myGBUspace, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>